html *
{
   font-family:'Lucida Grande',
}
body {
    background: linear-gradient(135deg, #3F2A2B 0%, #6e4c4e 29%, #362324 100%);
}
p {
    color: #fce8c6;
    font-size: 14px; 
    text-align: center
    
}
h1 {
    color: #fce8c6;
    font-size: 20px; 
    text-align: center 
}
h2 {
    color: #fce8c6;
    font-size: 24px;   
    text-align: center 
}
ul {
    color: #fce8c6;
    font-size: 16px; 
    text-align: center;
}

table , th, td{
    border: 1px solid #7B9EA8;
    background-color: #fdf4e3;
    color: #3F2A2B;
    font-size: 16px;
    width: 50%;
    text-align: center;
    border-collapse: collapse;
}
